:root {
  --background: #1d1d1d;
  --shadow-color: #202020;
  --white: #ffffff;
  --subtitle: #969595;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background-color: var(--background);
  font-family: "Roboto", sans-serif;
}

section {
  height: 100vh;
}

/* Shadow */

.shadow {
  color: var(--shadow-color);
  text-transform: uppercase;
}

.shadow-xl {
  font-size: 7.5rem; /* 120px */
  margin: 0;
  font-weight: bold;
}

/* Hero */
.hero,
.save,
.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.hero h1 {
  font-size: 3rem;
  color: var(--white);
  margin: 0;
  margin-bottom: 20px;
}

.hero .hero-subtitle {
  font-size: 1.25rem /* 20px */;
  color: var(--subtitle);
  margin: 0;
}

/* Content */
.content {
  max-width: 75rem; /* 1200px */
  width: 100%;
  margin: 0 auto;
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.content-shadow {
  z-index: -2;
}

.content-container {
  max-width: 62.188rem; /* 995px */
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.content-container h2 {
  color: var(--white);
  font-size: 3.125rem; /* 50px */
  margin: 1.25rem 0px;
}

.content-container p {
  color: var(--white);
  font-size: 1.375rem; /* 22px */
}

.content-image {
  width: 500px;
  height: 624px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.content-image .shadow-div {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
}

.content-image img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

/* Content 2 */
.content-2-img {
  background-image: url("../images/lion2.png");
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-position: 0% 50%;
  background-size: cover;
}

/* Save section */
.save-title,
.footer-title {
  font-size: 3.75rem; /* 60px */
  color: var(--white);
}

/* footer */
.footer {
  height: 100vh;
}

.footer-title {
  text-transform: uppercase;
}

@media screen and (max-width: 800px){
  section {
    height: 75%;
  }

  .shadow-xl {
    font-size: 4rem;
    /* 64px */
    margin: 0;
    font-weight: bold;
  }

  .hero {
    padding: 0 1rem;
  }

  .hero h1, .hero .hero-subtitle {
    text-align: center;
  }

  .content-container {
    max-width: 40rem;
    padding: 0 2rem;
    margin: 0px;
  }

  .content-container h2 {
    font-size: 2rem;
  }

  .content-container p {
    font-size: 1rem;
  }

  .content-image {
    width: 400px;
    height: 564px;
  }

  .save-title,
  .footer-title {
    text-align: center;
  }
}


@media screen and (max-width: 500px) {
  .shadow-xl {
    font-size: 2rem;
    /* 32px */
    margin: 0;
    font-weight: bold;
  }

  .hero h1 {
    text-align: center;
  }
  .hero .hero-subtitle {
    font-size: 1.2rem;
    text-align: center;
  }

  .content-container {
    max-width: 20rem;
    padding: 0 0.5rem;
    margin: 0px;
  }

  .content-image {
    width: 300px;
    height: 464px;
  }

  .save-title,
  .footer-title {
    text-align: center;
  }
}